spring:
  application:
    name: int3-front
  cloud:
    openfeign:
      okhttp:
        enabled: true
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
gateway-base-url: http://localhost:8080
