<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:fragment="footer">
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a th:href="index.html"><img th:src="@{/img/logo.png}" alt=""></a>
                        </div>
                        <ul>
                            <li>주소 : 대전광역시 유성구 대학로 99</li>
                            <li>전화번호 : 010-0000-0000</li>
                            <li>이메일 : ink3@bookstore.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>고객 문의</h6>
                        <ul>
                            <li><a>도서</a></li>
                            <li><a>1544-4444</a></li>
                            <li><a href="#">eBook 1:1문의/채팅상담</a></li>
                        </ul>
                        <ul>
                            <li><a>중고도서</a></li>
                            <li><a>1566-6666</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <!--                        <h6>Join Our Newsletter Now</h6>-->
                        <!--                        <p>Get E-mail updates about our latest shop and special offers.</p>-->
                        <!--                        <form action="#">-->
                        <!--                            <input type="text" placeholder="Enter your mail">-->
                        <!--                            <button type="submit" class="site-btn">Subscribe</button>-->
                        <!--                        </form>-->
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                    aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>