<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:fragment="header">
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a th:href="@{/test12}"><img th:src="@{/img/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="Search Books">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                            <li>홍길동 님</li>
                            <li class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</html>