<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>결제하기</title>
    <script src="https://js.tosspayments.com/v1/payment"></script>
</head>
<body>

<script th:inline="javascript">
    var clientKey = "test_ck_ALnQvDd2VJ2jvnEdDeLnVMj7X41m";
    var tossPayments = TossPayments(clientKey);

    var amount = [[${amount}]];
    var orderId = '[[${orderId}]]';
    var orderName = '[[${orderName}]]';
    var customerName = '[[${customerName}]]';
    var discountAmount = [[${discountAmount}]];
    var usedPointAmount = [[${usedPointAmount}]];

    var successUrl = '[[${tossSuccessURL}]]'
        + '?orderId=' + orderId
        + '&amount=' + amount
        + '&usedPointAmount=' + usedPointAmount
        + '&discountAmount=' + discountAmount;

    var failUrl = '[[${tossFailURL}]]';

    tossPayments
        .requestPayment("카드", {
            amount: amount,
            orderId: orderId,
            orderName: orderName,
            customerName: customerName,
            successUrl: successUrl,
            failUrl: failUrl
        })
        .catch(function (error) {
            if (error.code === "USER_CANCEL") {
                console.log("사용자가 결제창을 닫았습니다.");
            } else if (error.code === "INVALID_CARD_COMPANY") {
                console.log("유효하지 않은 카드 코드입니다.");
            }
        });
</script>

</body>
</html>
